* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.head {
    padding: 30px;
    padding-left: 100px;
    padding-right: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.pro {
    font-size: 13px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.line-of-links {
    display: flex;
    gap: 40px;
}

.sign {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.get {
    font-size: 14px;
    color: white;
    background-color: darkslategrey;
    text-decoration: none;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 30px;
}

.get:hover {
     background-color: white;
     border: 2px solid darkslategray;
     color: darkslategray;
     transition: 1s;
}

.last-link {
    display: flex;
    align-items: center;
    gap: 50px;
}

.first {
    padding: 20px;
    padding-left: 100px;
    padding-right: 150px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    gap: 150px;
}

.left-fes {
    width: 50%;

}

.enjoy {
    font-size: 60px;
    font-weight: 900;
    color: darkslategray;
}

span {
    color: gold;
}

.highly {
    font-size: 14px;
    font-weight: bold;
    line-height: 2;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pay {
    font-size: 12px;
    margin-bottom: 35px;
}

.little-pics {
    margin-top: 90px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.download {
    color: grey;
}

.right-fes {
    width: 50%;
}

.mini-right {
    padding: 40px;
    background-color: rgb(240, 240, 240);
    padding-left: 80px;
    padding-right: 80px;
    width: 80%;
    border-radius: 10px;
}

.buy {
    color: darkslategray;
    text-decoration: none;
    font-weight: bold;
}

.mini-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.btc {
   margin-top: 25px;
}

.naira {
    width: 80%;
    padding: 15px;
    border: none;
    border-radius: 1px solid grey;
    border-radius: 10px;
}

.arrow {
    margin-left: 120px;
    margin-top: 10px;
}

.get-2 {
    font-size: 14px;
    color: white;
    background-color: darkslategrey;
    text-decoration: none;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 30px;
}

.get-2:hover {
    background-color: white;
     border: 2px solid darkslategray;
     color: darkslategray;
     transition: 1s;
}

.fes-form {
    margin-bottom: 50px;
}


.mini-sec {
    background-color: rgb(20, 75, 61);
    padding: 40px;
    width: 100%;
    padding-left: 100px;
    padding-right: 150px;
    color: white;
    display: flex;
    margin-top: 50px;
}

.fes-sec {
    width: 50%;
}

.crypto {
    font-size: 35px;
}

.spend {
    font-size: 14px;
    font-weight: bold;
    margin-top: 28px;
}


.wtf {
    padding: 5px;
    background-color: white;
    border-radius: 30px;
}

.amazon {
    font-size: 13px;
    margin-top: 10px;
}

.mini-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
}

.png {
    border-radius: 10px;
}

.third {
    padding-left: 170px;
    padding-right: 170px;
    margin-top: 70px;
}

.third-flex {
    width: 100%;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.trade {
    font-size: 35px;
}

.cute {
    background-color: rgba(47, 79, 79, 0.362);
    padding: 5px;
    border-radius: 30px;
}

.platform {
    color: grey;
}

.micro-trade {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.mini-fourth {
    background-color: rgb(180, 195, 152);
    padding: 40px;
    text-align: center;
}

.fourth-total {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 270px;
    padding-right: 270px;
    margin-top: 60px;
}

.fourth-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.use {
    font-size: 30px;
}

.one {
    color: white;
    background-color: lightgreen;
    width: 20px;
    padding: 5px;
    border-radius: 50px;
    height: 25px;
    text-align: center;
}

.create {
    color: darkslategray;
    margin-bottom: 15px;
}

.mehn {
    font-size: 12px;
}

.fourth-right {
    width: 50%;
}

.after-one {
    text-align: left;
}

.mini-left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.fifth {
    background: linear-gradient( 45deg,rgb(0, 94, 94), aqua);
    
}

.toots {
    padding: 40px;
    color: white;
    width: 100%;
}

.toot {
    font-size: 50px;
}

.fine-boxes {
    display: flex;
    gap: 20px;
    margin-top: 80px;
}

.fine-box {
    width: 33.3%;
    background-color: rgba(0, 94, 94, 0.503);
    padding: 30px;
    border-radius: 15px;
    animation-name: ani;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

.jessy {
    font-size: 28px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.small {
    font-size: 13px;
    margin-top: 15px;
}

.mini-six {
    padding: 50px;
    padding-left: 100px;
    padding-right: 150px;
}

.micro-six {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-six {
    width: 50%;
}

.font {
    font-size: 35px;
    margin-bottom: 35px;
}

.cool {
    font-size: 13px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 45px;
}

.seventh {
    margin-top: 40px;
    text-align: center;
}

.promo {
    font-size: 35px;
    margin-bottom: 20px;
}

.see {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.email {
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    border: none;
    border: 1px solid grey;
}

.mail {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.eight {
    padding: 40px;
    padding-left: 100px;
    padding-right: 150px;
    margin-top: 90px;
}

.contact {
    padding: 70px;
}

.big-green {
    background-color: darkslategray;
    padding: 40px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
}

.company {
    font-size: 15px;
}

.about {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.green-fes {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.green-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    border-bottom: 1px solid white;
}

.green-bottom {
    color: white;
    text-align: center;
    padding-top: 35px;
}

.go {
    font-size: 25px;
}

.app {
    margin-top: 30px;
}

.bit {
    margin-top: 30px;
}

.currency {
    font-size: 14px;
    margin-top: 40px;
}

.get-now {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.logos {
    font-size: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}


@media screen and (max-width: 1200px){
    
    
    .head, .first, .mini-sec {
        padding-left: 40px;
        padding-right: 40px;
    }

    .fourth-total {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 1080px) {
    .pro {
        display: none;
    }

    .first {
        flex-direction: column;
    }

    .left-fes, .right-fes {
        width: 100%;
    }
    .mini-sec {
        flex-direction: column;
        gap: 20px;
    }
    .get {
        /* width: 50%; */
    }

    .mini-grid {
        width: 100%;
        justify-content: center;
    }

    .png {
        width: 100%;
    }

    .third, .mini-six{
        padding-left: 0;
        padding-right: 0;
    }

    .eight {
        padding-left: 40px;
        padding-right: 40px;
    }

    .contact {
        padding-left: 20px;
        padding-right: 20px;
    }

    .promo {
        font-size: 25px;
    }

    .toot {
        font-size: 25px;
    }
}
@media screen and (max-width: 675px) {
    .third-flex {
        flex-direction: column;
        gap: 30px;
    }

    .fourth-total {
        flex-direction: column;
    }

    .dee {
        width: 400px;
    }

    .fine-boxes {
        flex-direction: column;
    }

    .fine-box {
        width: 100%;
    }

    .green-top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .micro-six {
        flex-direction: column;
        gap: 30px;
    }
    .promo {
        font-size: 20px;
    }

    .get {
        font-size: 12px;
        width: 100px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .fourth-total {
        padding-left: 20px;
        padding-right: 20px;
    }

    .mail {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 365px) {
    .crypto {
        font-size: 20px;
    }

    .sign {
        display: none;
    }

    .get {
        padding: 5px;
        /* width: 800px; */
    }
}

@keyframes ani {
      from {
        transform: translateX(400%);
      }
      to {
        transform: translateX(-0%);
      }
}
